@model Biz.Users
@using PagedList.Mvc
<style>
    .person {
        margin-top: 70px;
    }

    .navbar-right {
        margin-right: 5px;
    }

    .navbar-header a {
        font-size: 30px;
    }

    .modal-dialog {
        padding-top: 120px;
        width: 350px;
    }

    .modal-content {
        width: 350px;
    }

    .person {
        width: 100%;
    }

    .person-top {
        height: 500px;
        margin: 10px;
        background-color: white;
    }

    .headportrait-left img {
        height: 140px;
        width: 140px;
        margin: 50px;
    }

    .headportrait-right {
        height: 100%;
    }
</style>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "post",
            url: "GetProvince",
            success: function (data) {
                $.each(JSON.parse(data), function (index, value) {
                    $('#pro').append("<option value='" + value.id + "'>" + value.name + "</option>");
                })
            }
        });
        $('#pro').change(function () {
            var pro = $("#pro").val();
            $.ajax({
                type: "post",
                data: { pro: pro },
                url: "GetCity",
                success: function (data) {
                    $('#city option').remove();
                    $.each(JSON.parse(data), function (index, value) {
                        $('#city').append("<option value='" + value.id + "'>" + value.name + "</option>");
                    })
                }
            })
        })
        $('#lefile').change(function () {
            $('#photoCover').val($(this).val());
        });
    });
</script>
<div class="person">
    <div class="person-top row">
        <div class="headportrait-left col-md-3">
            <img src="~/img/headportrait/@Model.headportrait" alt="未上传头像" class="img-thumbnail"><br />
            <input id="lefile" type="file" style="display:none">
            <div class="input-append">
                <input id="photoCover" class="form-control" type="text" style="height:30px;" placeholder="请选择上传的图片" disabled="disabled">
                <a class="btn btn-primary" onclick="$('#lefile').click();">选择文件</a>
            </div>
        </div>
        <div class="headportrait-right col-md-9">
            <div class="edit_top col-md-12">
                <h3>@Model.username<span>个人信息修改</span></h3>
            </div>
            <div class="edit_bottom col-md-12">
                <table width="100%">
                    <tr>
                        <td style="width:11%" class="text-right">性 别：</td>
                        <td style="width:21%">
                            <select class="form-control" id="sex" style="width:100%">
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </td>
                        <td style="width:11%" class="text-right">省 份：</td>
                        <td style="width:21%">
                            <select class="form-control" id="pro">
                                <option value=""></option>
                            </select>
                        </td>
                        <td style="width:11%" class="text-right">城 市：</td>
                        <td style="width:21%">
                            <select class="form-control" id="city">
                                <option value="" selected="selected">请选择省份</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
