USE [master]
GO
/****** Object:  Database [ASP.NET_xmsz]    Script Date: 2017/6/1 20:29:41 ******/
CREATE DATABASE [ASP.NET_xmsz] ON  PRIMARY 
( NAME = N'ASP.NET_xmsz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ASP.NET_xmsz.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ASP.NET_xmsz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ASP.NET_xmsz_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASP.NET_xmsz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASP.NET_xmsz]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2017/6/1 20:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 2017/6/1 20:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[sort] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Forums]    Script Date: 2017/6/1 20:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ForumsTitle] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Forums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 2017/6/1 20:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Forums_Id] [int] NOT NULL,
	[Users_Id] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Title] [nvarchar](max) NOT NULL DEFAULT (''),
	[ClickNum] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Replies]    Script Date: 2017/6/1 20:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Replies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Post_Id] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ReplyTime] [datetime] NOT NULL,
	[Users_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Replies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2017/6/1 20:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[userpass] [nvarchar](max) NOT NULL,
	[regtime] [datetime] NOT NULL,
	[Role] [int] NOT NULL,
	[districtId] [int] NOT NULL DEFAULT ((0)),
	[sex] [int] NOT NULL DEFAULT ((0)),
	[exp] [int] NOT NULL DEFAULT ((0)),
	[birthday] [datetime] NULL CONSTRAINT [DF__Users__birthday__398D8EEE]  DEFAULT (NULL),
	[headportrait] [nvarchar](max) NULL CONSTRAINT [DF__Users__headportr__3A81B327]  DEFAULT ('default.jpg'),
	[introduce] [nvarchar](max) NULL CONSTRAINT [DF__Users__introduce__3B75D760]  DEFAULT ('暂时没有简介'),
	[lastLogTime] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([id], [parent_id], [name], [sort]) VALUES (100, 0, N'安徽', 1)
INSERT [dbo].[Districts] ([id], [parent_id], [name], [sort]) VALUES (101, 100, N'合肥', 1)
INSERT [dbo].[Districts] ([id], [parent_id], [name], [sort]) VALUES (102, 100, N'安庆', 1)
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[Forums] ON 

INSERT [dbo].[Forums] ([Id], [ForumsTitle]) VALUES (3, N'板块1')
INSERT [dbo].[Forums] ([Id], [ForumsTitle]) VALUES (4, N'板块2')
INSERT [dbo].[Forums] ([Id], [ForumsTitle]) VALUES (5, N'板块3')
SET IDENTITY_INSERT [dbo].[Forums] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [Forums_Id], [Users_Id], [Content], [CreateTime], [Title], [ClickNum]) VALUES (17, 3, 3, N'测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1', CAST(N'2017-05-24 14:27:34.097' AS DateTime), N'测试1', 7)
INSERT [dbo].[Posts] ([Id], [Forums_Id], [Users_Id], [Content], [CreateTime], [Title], [ClickNum]) VALUES (18, 4, 3, N'测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2', CAST(N'2017-05-24 14:42:00.607' AS DateTime), N'测试2', 5)
INSERT [dbo].[Posts] ([Id], [Forums_Id], [Users_Id], [Content], [CreateTime], [Title], [ClickNum]) VALUES (19, 3, 3, N'测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2测试2', CAST(N'2017-05-24 15:15:59.493' AS DateTime), N'测试2', 3)
SET IDENTITY_INSERT [dbo].[Posts] OFF
SET IDENTITY_INSERT [dbo].[Replies] ON 

INSERT [dbo].[Replies] ([Id], [Post_Id], [Content], [ReplyTime], [Users_Id]) VALUES (19, 17, N'测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1', CAST(N'2017-05-24 14:27:38.697' AS DateTime), 3)
INSERT [dbo].[Replies] ([Id], [Post_Id], [Content], [ReplyTime], [Users_Id]) VALUES (20, 17, N'测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1测试1', CAST(N'2017-05-24 14:27:41.213' AS DateTime), 3)
INSERT [dbo].[Replies] ([Id], [Post_Id], [Content], [ReplyTime], [Users_Id]) VALUES (21, 18, N'ads', CAST(N'2017-05-24 14:50:26.797' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Replies] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [username], [userpass], [regtime], [Role], [districtId], [sex], [exp], [birthday], [headportrait], [introduce], [lastLogTime]) VALUES (2, N'admin', N'admin', CAST(N'2017-05-24 00:00:00.000' AS DateTime), 2, 2301, 0, 0, CAST(N'1996-08-29 00:00:00.000' AS DateTime), N'default.jpg', N'暂时没有简介', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [username], [userpass], [regtime], [Role], [districtId], [sex], [exp], [birthday], [headportrait], [introduce], [lastLogTime]) VALUES (3, N'aaa', N'aaa', CAST(N'2017-05-24 16:59:52.000' AS DateTime), 0, 705, 0, 830, CAST(N'1996-08-29 00:00:00.000' AS DateTime), N'default.jpg', N'简介', CAST(N'2017-05-24 17:27:05.290' AS DateTime))
INSERT [dbo].[Users] ([Id], [username], [userpass], [regtime], [Role], [districtId], [sex], [exp], [birthday], [headportrait], [introduce], [lastLogTime]) VALUES (4, N'bbb', N'bbb', CAST(N'2017-05-24 14:49:33.317' AS DateTime), 0, 300, 0, 0, CAST(N'1990-01-01 00:00:00.000' AS DateTime), N'default.jpg', N'暂时没有简介', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Forums_Id]    Script Date: 2017/6/1 20:29:41 ******/
CREATE NONCLUSTERED INDEX [IX_Forums_Id] ON [dbo].[Posts]
(
	[Forums_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Id]    Script Date: 2017/6/1 20:29:41 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Id] ON [dbo].[Posts]
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Id]    Script Date: 2017/6/1 20:29:41 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Id] ON [dbo].[Replies]
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Forums_Forums_Id] FOREIGN KEY([Forums_Id])
REFERENCES [dbo].[Forums] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Forums_Forums_Id]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Users_Users_Id] FOREIGN KEY([Users_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Users_Users_Id]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Replies_dbo.Users_Users_Id] FOREIGN KEY([Users_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_dbo.Replies_dbo.Users_Users_Id]
GO
USE [master]
GO
